:root{
    --carv: #2A3D45;
    --junq: #ECC30B;
    --coral: #F37748;
    --red_ind: #D56062;
    --cord: #873D48;
}
.our-culinary{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: #ECC30B;
    padding: 100px 50px;
    color: #873D48;
    min-height: 100vh;
    height: 100vh;
}
.our-culinary img{
    width: 50vw;
    border-radius: 2rem;
}
.our-plates{
    background-color: #D56062;
    min-height: 100vh;
    height: 100vh;
    padding: 50px 0 100px 0;
    text-align: center;
    font-size: 2rem;
    color: white;
}
.interative-plates{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    overflow: hidden;
}
.food-type{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 30%;
    font-size: 5rem;
}
.food-type i{
    align-self: flex-end;
    color: var(--cord);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .6s ease-in-out;
    z-index: 2;
}
.food-type i:hover{
    transform: translateY(-10px);
    color: var(--red_ind);
    background-color: var(--cord);
}
.plates{
    display: flex;
    position: relative;
    background-color: red;
    z-index: 0;
}
.plates img{
    position: absolute;
    bottom: -500px;
    left: -220px;
    transition: 1s;
}
footer{
    background-color: #2A3D45;
    height:10rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
footer .contato{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 15px;
}
footer .contato a{
    align-self: flex-start;
}
footer .contato i{
    font-size: 2rem;
    color: #F37748;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.658);
    transition: 1s;
}
footer .contato i:hover{
    transform: translateY(-10px);
    color: #ff9090;
}
footer .footer-logo{
    display: flex;
    gap: 10px;
    align-self: center;
}
.footer-logo h1{
    margin-top: 10px;
    color: white;
}
footer p{
    align-self: flex-end;
    padding: 5px;
}